<div class="articles-cards-container">
  <mat-card class="article-card"
            *ngFor="let article of (articlesSubject | async)">
    <img class="article-card-image"
         mat-card-image
         [src]="article.image_url"
         [alt]="'page.article.card.photoAlt' | translate">

    <mat-card-content class="article-card-content">
      <div class="article-card-date-label">
        <mat-icon>calendar_today</mat-icon>
        <mat-card-subtitle class="date-label">{{ article.published_at | date: defaultDateFormat }}</mat-card-subtitle>
      </div>

      <mat-card-title class="article-card-title">
        <span [innerHTML]="article.title | truncate: 100 | highlight: searchData"></span>
      </mat-card-title>

      <div class="card-description">
        <span [innerHTML]="article.summary | truncate: 100 | highlight: searchData"></span>
      </div>

      <mat-card-actions class="article-card-actions">
        <button mat-button
                class="article-card-button"
                (click)="goToArticle(article.id)">
          <span>{{ 'page.article.card.infoButton' | translate }}</span>
          <mat-icon class="arrow-forward-icon">arrow_forward</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
