@import "colors";

.articles-page-layout {
  padding: 50px 75px;
}

.articles-page-header {
  .search-title {
    color: $dark-grey;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
  }

  .search-input {
    .mat-icon {
      $size: 25px;
      fill: $grey;
      font-size: $size;
      width: $size;
      height: $size;
    }
  }

  .mat-mdc-form-field-focus-overlay {
    background-color: $white;
  }

  .mat-mdc-text-field-wrapper {
    width: 600px;
    border-radius: 5px;
    border: 1px solid $flesh-white;
    background: $white;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.05);
  }

  .mdc-line-ripple::before,
  .mdc-line-ripple::after {
    border-bottom-style: none;
  }

  .search-result-label {
    color: $dark-grey;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 5px;
  }

  .mat-divider {
    height: 1px;
    background: $flesh-white;
  }
}
