<div class="articles-page-layout">
  <div class="articles-page-header">
    <div class="search-title">{{ 'page.article.searchInput.title' | translate }}</div>

    <mat-form-field class="search-input">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput
             [formControl]="searchControl"
             [placeholder]="'page.article.searchInput.placeholder' | translate">
    </mat-form-field>

    <div class="search-result-label">{{ 'page.article.searchInput.resultSearchLabel' | translate : { articlesCount: articlesSubject.value.length } }}</div>
    <mat-divider></mat-divider>
  </div>

  <article-cards [articlesSubject]="articlesSubject"></article-cards>
</div>
